@font-face
{
    font-family: 'SmackAttackBB';
    src: url('../fonts/smackattackbb_bld.otf');
}

body
{
    margin: 0px;
    padding: 0px;
}

.rounded-corners
{
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.drop-shadow
{
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

#background
{
    background-color: #000040;
    background: -moz-linear-gradient(top, #000033, #000040);
    background: -webkit-gradient(linear, left top, left bottom, from(#000033), to(#000040));
}

#logincontainer
{
    display: none;
    background-color: #ffffff;
}

#logincanvas
{
    float: left;
    margin: 20px;
}

#logincontrols
{
    float: left;
    margin: 20px;
}

#gamecontainer
{
    display: none;
}

#gamecanvas
{
}

#gametalkedit
{
    display: none;
}

#footer
{
    background-color: #000022;
    padding: 5px 0px 5px 50px;
    border-top: 1px solid #888888;
    color: #888888;
    font-size: 0.7em;
    font-family: 'SmackAttackBB';
}

#svg2pngcanvas
{
    display: none;
}
