body {
    margin: 0px;
    padding: 0px;
    background-color: #000033;
    background-image: url('../images/background.png');
}

#maincanvas {
}

#footer {
    background-color: #000000;
    color: #AAAAAA;
    font-size: 0.7em;
    font-family: "DejaVu Sans Mono", Monospace;
    padding: 5px 0px 5px 50px;
}
